<div class="min-h-full w-full">
  <div class="p-6">
    <button
      class="fixed top-4 left-4 px-4 py-2 bg-violet-500 text-white rounded-md hover:bg-violet-600 transition"
    >
      <a href="/">Voltar</a>
    </button>
    <div class="m-auto flex items-center justify-center flex-col">

      <h1 class="text-xl font-bold mb-4">Todas as temporadas e episódios (até 51 episódios e 5 temporadas)</h1>
      <div class="flex space-x-4 mb-6">
        <button
          *ngFor="let season of [1, 2, 3, 4, 5]"
          (click)="selectSeason(season)"
          class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
        >
          Temporada {{ season }}
        </button>
      </div>
      <div *ngIf="filteredEpisodes.length > 0">
        <h2 class="text-lg font-bold mb-4">
          Episódios da Temporada {{ selectedSeason }}
        </h2>
        <ul class="list-disc pl-6">
          <li *ngFor="let episode of filteredEpisodes">
            <span class="font-bold">{{ episode.name }}</span> -
            {{ episode.episode }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

